!!! XDefaults
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!!! URxvt config
urxvt.scrollBar: false
urxvt.letterSpace: -1
urxvt.saveLines: 1000000
URxvt.font: xft:Iosevka Term:Medium:size=12
URxvt.geometry: 114x28

!! For copy-pasta :D
! rxvt to other: middlw mouse
! others to rxvt: Shift+Insert | Ctrl+Alt+V fr VIM

!! Transparency
!(fake)
!URxvt*inheritPixmap: true
!urxvt*transparent: true
! (real)
!urxvt*depth: 32
!urxvt*background: rgba:0000/0000/0200/c800
!urxvt*shading: 10

!!! colorscheme
! special
*.foreground:   #A1B0B8
*.background:   #263238 
*.cursorColor:  #7ea2b4

! black
*.color0:       #161b1d
*.color8:       #5a7b8c

! red
*.color1:       #d22d72
*.color9:       #d22d72

! green
*.color2:       #568c3b
*.color10:      #568c3b

! yellow
*.color3:       #8a8a0f
*.color11:      #8a8a0f

! blue
*.color4:       #257fad
*.color12:      #257fad

! magenta
*.color5:       #5d5db1
*.color13:      #5d5db1

! cyan
*.color6:       #2d8f6f
*.color14:      #2d8f6f

! white
*.color7:       #7ea2b4
*.color15:      #ebf8ff

